@charset "utf-8";

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Volkhov:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Nova+Mono);

/* Globals */
* { box-sizing: border-box; margin: 0; }
body {
	background: #222;
}
.c { clear: both; }
.radios { display: none; }
.characters {
	padding: 0;
}

.characters li { 
	width: 33.333%;
	position: relative;
	float: left;
	list-style-type: none;
	height: 164px;
}

.characters li .bg {
	width: 100%;
	height: 100%;
	background: #222 center center no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 1;
}

.characters li .bg.dead { 
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.characters li label { 
	position: relative; 
	height: 100%; 
	width: 100%; 
	position: absolute;
	cursor: pointer;
    color: #fff;
    text-align: right;
    padding: 5px 10px;
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
    font-family: 'Roboto Condensed', sans-serif;
	
}

.characters li:hover { cursor: pointer; }
.characters li:hover label { display: block; }

.characters li#glenn .bg { background-image: url(assets/glenn.jpg); }
.characters li#maggie .bg { background-image: url(assets/maggie.jpg); }
.characters li#abraham .bg { background-image: url(assets/abraham.jpg); }
.characters li#sasha .bg { background-image: url(assets/sasha.jpg); }
.characters li#daryl .bg { background-image: url(assets/daryl.jpg); }
.characters li#aaron .bg { background-image: url(assets/aaron.jpg); }
.characters li#eugene .bg { background-image: url(assets/eugene.jpg); }
.characters li#michonne .bg { background-image: url(assets/michonne.jpg); }
.characters li#rosita .bg { background-image: url(assets/rosita.jpg); }
.characters li#carl .bg { background-image: url(assets/carl.jpg); }
.characters li#rick .bg { background-image: url(assets/rick.jpg); }
.characters li#negan .bg { background-image: url(assets/group.jpg); }

@media screen and (min-width: 600px) {
    .characters li#glenn:hover .bg { background-image: url(assets/glenn.gif); }
    .characters li#maggie:hover .bg { background-image: url(assets/maggie.gif); }
    .characters li#abraham:hover .bg { background-image: url(assets/abraham.gif); }
    .characters li#sasha:hover .bg { background-image: url(assets/sasha.gif); }
    .characters li#daryl:hover .bg { background-image: url(assets/daryl.gif); }
    .characters li#aaron:hover .bg { background-image: url(assets/aaron.gif); }
    .characters li#eugene:hover .bg { background-image: url(assets/eugene.gif); }
    .characters li#michonne:hover .bg { background-image: url(assets/michonne.gif); }
    .characters li#rosita:hover .bg { background-image: url(assets/rosita.gif); }
    .characters li#carl:hover .bg { background-image: url(assets/carl.gif); }
    .characters li#rick:hover .bg { background-image: url(assets/rick.gif); }
    .characters li#negan:hover .bg { background-image: url(assets/negan.gif); }

    .characters li#abraham:hover .bg.dead { background-image: url(assets/abraham-dead.gif); -webkit-filter: grayscale(100%) brightness(75%); filter: grayscale(100%) brightness(75%);  }
    .characters li#glenn:hover .bg.dead { background-image: url(assets/glenn-dead.gif); -webkit-filter: brightness(200%); filter: brightness(200%); }

}

.submitbox {
	display: none;
    height: auto;
    width: 400px;
    background: #222;
    position: absolute;
    top: 60px;
    z-index: 199;
    max-width: 100%;
    box-shadow: 1px 1px 1px rgba(255,255,255,.2), -1px -1px 1px rgba(255,255,255,.2);
    left: calc(50% - 200px);
}

.submitbox h2 {
    font-family: 'Volkhov', serif;
    font-size: 26px;
    margin: 40px auto;
    text-align: center;
    color: #fff;
}

.submit-button {
    display: block;
    margin: 0 auto;
    border: 1px solid #222;
    background-color: #fff;
    color: #000;
    font-family: 'Volkhov', serif;
    font-size: 18px;
    -webkit-appearance: none;
}

.buttons {
    width: 240px;
    margin: 20px auto;
}
.submit-button:hover {
    border: 1px solid #fff;
    cursor: pointer;
}

.submitbox p, .neganbox p {
    display: block;
    margin: 0 auto;
    border: 1px solid #222;
    background-color: #fff;
    color: #000;
    font-family: 'Volkhov', serif;
    font-size: 18px;
}

.submitbox p:hover, .neganbox p:hover {
	border: 1px solid #fff;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(255,255,255,.7);
}

.submitbox input {
    margin: 20px auto; 
    border-radius: 0px;
}

.neganbox {
    display: none;
    height: auto;
    width: 400px;
    background: #222;
    position: absolute;
    top: 60px;
    z-index: 199;
    max-width: 100%;
    box-shadow: 1px 1px 1px rgba(255,255,255,.2), -1px -1px 1px rgba(255,255,255,.2);
    left: calc(50% - 200px);
}

.neganbox img {
    width: 240px;
    max-width: 90%;
    display: block;
    margin: 20px auto;
}


.neganbox input {
    display: block;
    margin: 20px auto;
    border-radius: 0px;
    float: none;
}

#info, #results {
	display: none;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	background: #222;
	z-index: 99;
    box-shadow: 0 6px 5px rgba(0,0,0,.4);
}

.fa-close {
    font-size: 20px !important;
}

#info h1, #results h1, #thanks h1, .submitbox h1, .neganbox h1 {
    font-family: 'Volkhov', serif;
    font-size: 24px;
    letter-spacing: 1px;
    font-style: italic;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 10px 15px 10px 10px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

#info .close, #results .close {
	position: absolute;
    z-index: 100;
    color: #fff;
    top: -7px;
    right: 21px;
    font-weight: 100;
    font-size: 36px;
    font-family: 'Nova Mono', sans-serif;
    cursor: pointer;
}

#results .close {
    right: 60px;
}

.chart {
    width: 320px;
    display: block;
    margin: 30px auto;
}

dl { 
  width: 100%; 
  margin: 10px 0; 
  line-height: 27px;
}

dt { 
  clear: both; 
  float: left;
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  width: 80px;
  text-align: right;
  padding-right: 5px;
  color: #fff;
  margin: 5px 0 0 0px;
}

dd[id$=bar] { 
  height: 25px; 
  background-color: black; 
  float: left;
  margin: 5px 0 0 5px;
  text-align: right;
  padding: 0 3px 3px 2px;
  font-size: 13px;
  color: #fff;
  min-width: 6px;
  max-width: 180px;
}

dd:not([id$=bar]) {
    height: 25px;
    float: left;
    margin: 4px 0 0 5px;
    text-align: right;
    padding: 0 3px 3px 2px;
}

dd#abrahambar { background-color: #4cbaff; }
dd#maggiebar { background-color: #009dff; }
dd#sashabar { background-color: #007dcc; }
dd#darylbar { background-color: #16577f; }
dd#aaronbar { background-color: #003f66; }
dd#glennbar { background-color: #5272ff; }
dd#eugenebar { background-color: #0136ff; }
dd#carlbar { background-color: #012bcc; }
dd#michonnebar { background-color: #162c7f; }
dd#rositabar { background-color: #001666; }
dd#rickbar { background-color: #000d3d; }


[id$=total] {
    display: none;
    background: #333;
    padding: 6px 5px 4px 2px;
    width: 90px;
    font-size: 13px;
}

.charwrap {
    padding-bottom: 3px;
}

.charwrap:hover {
    background: #333;
    border-radius: 14px;
}

.charwrap:hover [id$=total] {
     display: inline;
}

[id$=perc] {
    font-size: 13px;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
}

.charwrap:hover [id$=perc] {
    display: none;
}

header {
	background: #222;
    width: 100%;
    clear: both;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 20;
    box-shadow: 0 6px 5px rgba(0,0,0,.4);
    height: 51px;
}

header div {
	float: left;
	width: 33.333%;
}

header .icons {
	position: relative;
}

header .icons .iconwrap {
	position: absolute;
    right: 20px;
    top: 6px;
}


header .icons i {
	cursor: pointer;
	display: inline-block;
    margin: 13px 5px 11px 22px;
    float: right;
}

header .icons i:hover {
    color: #416e89;
}


header .vote {
	text-align: center;
	line-height: 50px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
}

header .vote a {
    color: #fff;
}

header .vote a:hover {
    color: #ff9999;
}

header .title {
	font-family: 'Volkhov', serif;
    font-size: 26px;
    letter-spacing: 1px;
    font-style: italic;
    color: #fff;
    text-align: left;
    font-weight: bold;
    padding: 10px 10px 7px 20px;
}

.popup-bottom {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    width: 75%;
    display: block;
    margin: 0 auto 20px auto;
    padding: 15px 0;
}

.popup-bottom img {
	margin: 25px auto;
	display: block;
	max-width: 100%;
}

.popup-bottom a {
	color: #416e89;
	text-decoration: none;
}

.popup-bottom footer a {
    color: #fff;
    padding: 2px 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 5px;
}

.popup-bottom footer a:hover {
    color: #3b5998;
    border: 1px solid #3b5998;
}

.popup-bottom footer a:hover .fa {
    color: #3b5998;
}

.popup-bottom footer a.tw:hover {
    color: #55acee;
    border: 1px solid #55acee;
}

.popup-bottom footer a.tw:hover .fa {
    color: #55acee;
}

.popup-bottom .mobile {
    font-size: 12px;
    margin-top: 5px;
}

.main span {
	font-size: 20px;
	font-weight: bold;
    font-style: italic;
    padding: 0 5px;
}

footer {
    margin-top: 20px;
}

.disclaimer {
    font-size: 12px;
    margin: 15px 0;
    line-height: 15px;
    padding: 0 20px;
}

.last {
    color: #ff0000;
}

.fa {
    color: #fff;
    font-size: 14px;
    padding-right: 3px;
}

.fa-home {
    float: left;
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 23px !important;
}

@media screen and (max-width: 950px) {
	header { height: 74px; }
	header div { float: none; width: 100%; }
	header .title { text-align: center; }
	header .vote { margin-top: -20px; }
	header .icons { position: absolute; top: 5px; right: 0; }
	header .icons .iconwrap { right: 10px; }
    #info h1, #results h1 { height: 74px; line-height: 54px; }
    #info .close { top: 0; right: 12px; }
    #results .close { top: 0; right: 52px; }

}

@media screen and (max-width: 900px) {
	.characters li { width: 50%; }
}

@media screen and (max-width: 750px) {
	.popup-bottom { width: 100%; }
}

@media screen and (max-width: 500px) {
	.characters li { width: 100%; }
	header .vote { font-size: 14px; }
	header .icons { position: absolute; top: 72px; right: 0; opacity: .5; }
	header .icons .iconwrap { right: 0; }
	header .icons i { background-size: 36px 36px; height: 18px; width: 18px; }
	header .icons i.info:hover { background-position: -18px 0; }
	header .icons i.results { background-position: 0 -18px;}
	header .icons i.results:hover { background-position: -18px -18px; }
    #info .close, #results .close { top: 5px; right: 15px; }
    .submitbox, .neganbox { width: 280px; height: auto; left: calc(50% - 140px);}
    .neganbox { height: auto; }
    .submitbox input { display: block; margin: 20px auto; float: none; }
    .buttons { width: 230px; }
    .popup-bottom footer a { display: block; margin: 10px auto; width: 100px; }
    .mobile { display: none; }
    .fa-home { top: 16px; font-size: 18px !important; }
}

